VITE_API_URL=http://localhost:5000/api
VITE_SUPABASE_URL=https://hqihilzhebtaqxotwexc.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_n8A1rDtqTfKE-PAgsxXw9g_QLai7TB3
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE
